<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo</title>
  <style><%- css.style %></style>
</head>
<body>
  <h1>Todo</h1>
  <div class="todos"></div>
  <span style="flex:1"></span>
  <form class="add">
    <span>+</span>
    <input type="text" placeholder="Add a task" autofocus>
  </form>
  <script><%- js.app %></script>
</body>
</html>